p {
    color: antiquewhite;
    font-family: 'Times New Roman', Times, serif;
}
body {
    background-image: linear-gradient(rgb(97, 2, 97), black);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h1,h2,h3,h4,h5,h6 {
    font-size: larger;
    color: crimson;
}
title {
    color: chocolate;
}